.App {
  text-align: center;
  background-color: rgb(241, 226, 206);
  position: absolute; 
  top:0px; 
  bottom:0px; 
  width: 100%
}

.navBar{

}
.heroContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  
  
}

ul{
  list-style: none; 
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-family: Archivo;
  justify-content: space-between;
}
img {
  margin: auto;
  display: block;
  max-width: 300px;
}
.logo{
  text-align: center;

}
h1{
  font-size: 1gi00px;
  text-align: center;
  margin: 0;
  opacity: 0.25;
  color: white;
  

}
.heroText{
  
}
p{
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  opacity: 0.10;
  
}
.leadForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label{
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.sendMessagebtn{
  background: rgba(255, 94, 0, 0.781);
  color: white;
  padding: 1rem 2.5rem;
  font-size: 15px;
}
.formContainer{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; 
  
}
input,textarea {
  margin: 0;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border: none;
  width: 100%;
  border-bottom:solid .5px;
  border-bottom-color: rgb(151, 149, 149);
  background-color: rgb(241, 226, 206);
}
.messageInput, textarea{
  padding: 4rem 0;
}
input{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}