@font-face {
	font-family: "Archivo";
	src: local("Archivo"), url(./fonts/Archivo-Bold.ttf) format("truetype");
}
body {
	margin: 0;
	background-color: rgb(243, 242, 240);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
.navBar {
	padding: 3.75rem 0;
	width: 100%;
	/* position: absolute; */
	margin: 0;
}
.navBar a {
	color: gray;
	text-decoration: none;
}
.navBar a:hover {
	color: rgba(255, 94, 0, 0.781);
}
.heroContainer {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: column;
	/* padding-top: 10rem; */
	margin: 0;
	/* min-height: 100vh; */
}

ul {
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-family: Archivo;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
li {
	text-decoration: none;
}
img {
	margin: auto;
	display: block;
	/* max-width: 600px; */
	max-width: 100%;
}
.drone {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	*/margin: 0;
}
.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	min-height: 100%;
	margin: 0;
}
.logo {
	max-width: 200px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6rem;
}
.logoContainer {
	/* flex: 1; */
}
.headingContainer {
	margin-bottom: 6;
}
li:not(.logo) {
	margin: 0;
	padding: 0 6rem;
}
h1 {
	font-family: "Archivo";
	text-align: center;
	margin: 0;
	opacity: 0.55;
	color: white;
	font-size: 266px;
	letter-spacing: 9px;
}
.imgWithText {
}
.heroText {
}
p {
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	font-size: 19px;
	letter-spacing: 2px;
	margin-bottom: 7rem;
	color: gray;
}
.leadForm {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 2rem;
}
label {
	margin: 0;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
}
.sendMessagebtn {
	background: rgba(255, 94, 0, 0.781);
	color: white;
	padding: 1rem 2.5rem;
	font-size: 15px;
}
.formContainer {
	margin-left: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42%;
}
input,
textarea {
	margin: 0;
	padding: 1rem 0;
	margin-bottom: 1.5rem;
	border: none;
	width: 100%;
	border-bottom: solid 0.5px;
	border-bottom-color: rgb(151, 149, 149);
	background-color: rgb(243, 242, 240);
	font-size: 16px;
}
.messageInput,
textarea {
	padding: 0rem 0rem 4rem;
}
input {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0rem 0rem 2rem;
	font-size: 16px;
}

/* Tablet view */
@media screen and (max-width: 950px) {
	h1 {
	}
	p {
	}
}

@media screen and (max-width: 675px) {
	h1 {
	}
	p {
	}
}

/* Mobile view */
@media screen and (max-width: 375px) {
	.App {
	}
	h1 {
	}
	p {
	}
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
} */
